body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


h1 {
    font-size: 50px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 70%;
}

p {
    text-align: justify;
}

.first-part {
    display: flex;
    background-image: url(images/images2/top-banner.png);
    background-repeat: no-repeat;
    margin: 0 0 150px 0;
    /* margin-bottom: 100px; */
}

.orange-color {
    color: orange;
}

a {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 400;
    color: aliceblue;
}

.second-part {
    display: flex;
    background-image: url(images/images2/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;

}

.half-width-part2 img {
    width: 70%;
    margin-left: 17%;
}

.half-width-part2 {
    width: 50%;
    padding-right: 10%;

}

/* third part */
.third-part {
    display: flex;
    margin-right: 10px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;


}

h2 {
    font-size: 40px;
}

.half-width-part3 {
    width: 50%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    margin: 50px;
    border-left: 5px solid rgb(240, 0, 0);
}

/* footer style */
footer p {
    text-align: center;
}